.testimonialsSection {
  padding: 80px 20px;
  background-color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  text-align: start;
  margin-bottom: 48px;
}

.badge {
  color: #2563eb;
  background-color: #dbeafe;
  border-radius: 20px;
  width: fit-content;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 16px;
}

.title {
  color: #000;
  font-size: 38px;
  font-weight: 600;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.carouselWrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

  :global(.slick-slider) {
    margin: 0 -12px;
  }

  :global(.slick-list) {
    padding: 30px 0;
  }

  :global(.slick-slide > div) {
    padding: 0 12px;
  }
}

.testimonialCard {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 60px 28px 32px 28px;
  // box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  text-align: left;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  // &:hover {
  //   transform: translateY(-5px);
  //   box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
  // }
}

.cardBody {
  position: absolute;
  left: 50px;
  background-color: #f9f5f9;
  border-radius: 50px;
  padding: 20px 30px;
  min-height: 450px;
}

.avatar {
  position: absolute;
  top: 40px;
  left: 0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  background-color: #e5e7eb;
  z-index: 100;
  border-width: 10;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rating {
  display: flex;
  gap: 4px;
  margin-top: 25px;
  margin-left: 60px;

  svg {
    width: 25px;
    height: 25px;
  }
}

.feedback {
  font-size: 18px;
  color: #1a1a1a;
  line-height: 1.7;
  margin-bottom: 24px;
  flex-grow: 1;
  margin-top: 70px;
  min-height: 150px;
}

.studentInfo {
  margin-top: auto;

  .name {
    font-size: 20px;
    font-weight: 600;
    color: #2563eb;
    margin-bottom: 6px;
  }

  .course {
    font-size: 18px;
    color: #1a1a1a;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 30px;
}

.navButton {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
  }

  svg {
    width: 26px;
    height: 26px;
  }
}
