// components/CoursesSection/CoursesSection.module.scss

.coursesSection {
  padding: 80px 20px;
  background-color: #ffffff;

  @media (max-width: 968px) {
    padding: 60px 20px;
  }

  @media (max-width: 640px) {
    padding: 40px 20px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    .viewMoreButton {
      display: none;
    }
  }
}

.headerLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.badge {
  display: inline-block;
  background-color: #dbeafe;
  color: #2563eb;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}

.viewMoreButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #2563eb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease;

  span {
    font-weight: 300 !important;
  }
  // &:hover {
  //   background-color: #1d4ed8;
  //   transform: translateY(-2px);
  //   box-shadow: 0 8px 20px rgba(37, 99, 235, 0.3);
  // }

  // svg {
  //   transition: transform 0.3s ease;
  // }

  // &:hover svg {
  //   transform: translateX(4px);
  // }
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.courseCard {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 28px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    // transform: translateY(-8px);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1);
    // border-color: #2563eb;
    .courseTitle {
      color: #2563eb;
    }
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.iconWrapper {
  width: 56px;
  height: 56px;
  background-color: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  span {
    color: #fff;
  }
}

.coursesCount {
  background-color: #f3f4f6;
  color: #4b5563;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.courseTitle {
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0 0 12px 0;
  line-height: 1.3;
  min-height: 45px;
}

.courseDescription {
  font-size: 14px;
  // text-align: justify;
  color: #1a1a1a;
  line-height: 1.6;
  margin: 0;
  min-height: 150px;
}
